[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
coverage = "*"

[packages]
django = "*"
psycopg2-binary = "*"
django-extensions = "*"
requests = "*"
unidecode = "*"
gunicorn = "*"
whitenoise = "*"
sentry-sdk = "==0.14.3"

[requires]
python_version = "3.6"
